<div class="jumbotron">
  <div class="container">
    <h1>Stop. Bin time.</h1>
    <p>Find out when that bin is out for collection!</p>
    {{ 'Sòme strÏng with Âccénts' | latinize }}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <p>Enter street name to get the schedule:</p>
      <input class="form-control" type="search" placeholder="e.g. Švyturio gatve" ng-model="query">
      <div id="locations-search-results" class="list-group">
        <a
          href="#/locations/{{location.street}}"
          class="list-group-item" ng-repeat="location in vm.locations | filterByStreet:query | orderBy:'street | latinize' | limitTo: 10">
          {{location.street}}
        </a>
      </div>
    </div>
  </div>
</div> <!-- /container -->        
